body {
    background-color: #EFEAD8;
}

@media (min-width: 1010px) {
    header {
        width: 20%;
        height: 50%;
        padding-bottom: 5px;
        background-color: #5F7161;
        text-align: center;
        position: relative;
        top: 0;
        overflow: hidden;
        border-radius: 10px;
        float: left;
    }

    header a {
        color: #D0C9C0;
        display: grid;
        font-size: 20px;
        display: inline-block;
        padding: 10%;
        line-height: 1;
        text-decoration: none;
        border: 4px solid #39393A;
        border-radius: 10px;
        display: flex;
        margin: 5px;
        margin-top: 10%;
        background-color: #475447;
    }
    
    .catalog {
        width: 80%;
        font-size: larger;
        background-color: #859583;
        border-radius: 10px;
        margin-top: 10px;
        padding-top: 10px;
        margin-left: 21%;
        padding-bottom: 10px;
        color: #EFEAD8;
    }
}

@media (max-width: 1010px) {
    header {
        width: 100%;
        background-color: #5F7161;
        text-align: center;
        position: relative;
        top: 0;
        overflow: hidden;
        border-radius: 10px;
        float: left;
        margin-bottom: 40px;
    }

    header a {
        color: #D0C9C0;
        font-size: 90%;
        padding: 5px;
        width: 20%;
        height: 20px;
        margin-top: 2%;
        margin-bottom: 2%;
        display: inline-block;
        line-height: 1;
        text-decoration: none;
        border: 4px solid #39393A;
        border-radius: 10px;
        display: relative;
        margin-top: 10px;
        background-color: #475447;
    }
    
    .catalog {
        width: 100%;
        font-size: larger;
        background-color: #859583;
        border-radius: 10px;
        margin-top: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
        color: #EFEAD8;
    }
}

.activeheader {
    color: #EFEAD8;
    border: 4px solid #39393A;
    border-radius: 10px;
    background-color: #383f39;
}

.inputtd {
    text-align: center;
}

table .inputstr {
    width: 70%;
}

table input {
    border-radius: 6px;
    height: 20px;
}

.ctgtable {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.ctgtable td {
    margin-top: 0px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
}

.formdiv {
    background-color: #37433b;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #EFEAD8;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.tbaddem {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.button {
    border-radius: 10px;
    padding: 5px;
}

.sbutton {
    border-radius: 10px;
    padding: 5px;
}

.sformdiv {
    margin-left: 70%;
    text-align: center;
}

table #id_name {
    width: 100%;
}

table #id_type {
    width: 100%;
}