<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>webproject</title>
    <link rel="stylesheet" href='{% static "css/css.css" %}'>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<script src='{% static "js/app.js" %}'></script>
<body>
    <header>
        <a href="/">Строительные работы</a>
        <a href="/electr/" class="activeheader">Электромонтажные работы</a>
        <a href="/pol/">Полы</a>
        <a href="/others/">Прочие</a>
        <a href="/cart/">Корзина</a>
    </header>
    <div class="catalog">
        <table class="ctgtable">
            <tr>
                <td style="text-align: center"><h3>Название</h3></td>
                <td style="text-align: center"><h3>Количество</h3></td>
            </tr>
            {% for elem in stritems %}
                <tr calss = "ctgtr">
                    <td class="itemstr">{{ elem.0 }}</td>
                    <td class="inputtd">
                        <input type="number" class="inputstr" placeholder={{ elem.1 }}>
                    </td>
                </tr>
            {% endfor %}
            <script>gradColor()</script>
        </table>
        <div class="sformdiv">
            <form method="POST">
                {% csrf_token %}
                <div style="display: none;">{{ sform }}</div>
                <input type="submit" class="sbutton" name="savevals" value="Сохранить" onclick="getElemVals()">
                <input type="submit" class="sbutton" name="resetvals" value="Очистить" onclick="resetElemVals()">
            </form>
        </div>
    </div>
    <div class="catalog" style="text-align: center">
        <div class="formdiv">
            <h2>Добавить новый элемент</h2>
            <form method="POST">
                {% csrf_token %}
                <table class="tbaddem">
                    {{ form }}
                </table>
                <input type="submit" class="button" name="addnewelem" value="Отправить">
            </form>
        </div>
        <script>defPhAdd()</script>
    </div>
</body>
</html>