<!DOCTYPE html>
{% load static %}
<html>
<head>
<title>webproject</title>

<link rel="stylesheet" href='{% static "css/css.css" %}'>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<style>
    img { pointer-events: none; }
</style>
<header>
  <nav>
      <a href="/">Строительные работы</a>
      <a href="/electr/">Электромонтажные работы</a>
      <a href="/pol/">Полы</a>
      <a href="/others/" class="activeheader">Прочие</a>
  </nav>
</header>
<body>
    <div class="catalog">
        <table class="ctgtable">
            <tr>
                <td style="text-align: center"><h3>Название</h3></td>
                <td style="text-align: center"><h3>Количество</h3></td>
            </tr>
            {% for elem in stritems %}
                <tr calss = "ctgtr">
                    <td class="itemstr">{{ elem.0 }}</td>
                    <td class="inputtd">
                        <input type="number" calss="inputstr" placeholder={{ elem.1 }}>
                    </td>
                </tr>
            {% endfor %}
            <script>
                let elemmas = document.getElementsByTagName('tr');
                for (let i = 0; i < elemmas.length; i++) {
                    if (i % 2 == 0) {
                        elemmas[i].style.backgroundColor = '#423f53';
                    }
                    else {
                        elemmas[i].style.backgroundColor = '#6b6786';
                    }
                }
            </script>
        </table>
    </div>
</body>
</html>