<!DOCTYPE html>
{% load static %}
<html>
<head>
<title>webproject</title>

<link rel="stylesheet" href='{% static "css/css.css" %}'>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<style>
    img { pointer-events: none; }
</style>
<body>
    <header>
        <a href="/">Строительные работы</a>
        <a href="/electr/">Электромонтажные работы</a>
        <a href="/pol/">Полы</a>
        <a href="/others/" class="activeheader">Прочие</a>
    </header>
    <div class="catalog">
        <table class="ctgtable">
            <tr>
                <td style="text-align: center"><h3>Название</h3></td>
                <td style="text-align: center"><h3>Количество</h3></td>
            </tr>
            {% for elem in stritems %}
                <tr calss = "ctgtr">
                    <td class="itemstr">{{ elem.0 }}</td>
                    <td class="inputtd">
                        <input type="number" calss="inputstr" placeholder={{ elem.1 }}>
                    </td>
                </tr>
            {% endfor %}
            <script>
                let elemmas = document.getElementsByTagName('tr');
                for (let i = 0; i < elemmas.length; i++) {
                    if (i % 2 == 0) {
                        elemmas[i].style.backgroundColor = '#303e3a';
                    }
                    else {
                        elemmas[i].style.backgroundColor = '#3b4f3c';
                    }
                }
            </script>
        </table>
    </div>
    <div class="catalog" style="text-align: center">
        <div class="formdiv">
            <h2>Добавить новый элемент</h2>
            <form method="POST">
                {% csrf_token %}
                <table class="tbaddem">
                    {{ form }}
                </table>
                <input type="submit" class="button" value="Отправить">
            </form>
        </div>
        <script>
            document.getElementById('id_name').setAttribute('placeholder', 'Название товара');
            document.getElementById('id_type').setAttribute('placeholder', 'Измерение(шт, кв.м и т.д.)');
        </script>
    </div>
</body>
</html>